{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span>
            <span class="mr-2"><a href="">Blog <i class="fa fa-chevron-right"></i></a></span>
            <span>Blog Single <i class="fa fa-chevron-right"></i></span>
          </p>
          <h1 class="mb-0 bread">Blog Single</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
          <h2 class="mb-3">{{ post.title }}</h2>
          <p>{{ post.content }}</p>
          {% if post.cover_image %}
            <p>
              <img src="{{ post.cover_image.url }}" alt="" class="img-fluid" />
            </p>
          {% else %}
            <p>
              <img src="{% static 'images/image_1.jpg' %}" alt="" class="img-fluid" />
            </p>
          {% endif %}

          <div class="tag-widget post-tag-container mb-5 mt-5">
            <div class="tagcloud">
              {% for t in post.tags.all %}
                <a href="#" class="tag-cloud-link">{{ t.name }}</a>
              {% endfor %}
            </div>
          </div>

          <div class="about-author d-flex p-4 bg-light">
            <div class="bio mr-5">
              <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4" />
            </div>
            <div class="desc">
              <h3>{{ post.author }}</h3>
              <p>{{ post.author.userprofile.bio }}</p>
            </div>
          </div>

          <div class="pt-5 mt-5">
            <h3 class="mb-5" style="font-size: 20px; font-weight: bold;">{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</h3>
            <ul class="comment-list">
              {% for comment in comments %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" />
                  </div>
                  <div class="comment-body">
                    <h3>{{ comment.author }}</h3>
                    <div class="meta">{{ comment.created_at }}</div>
                    <p>{{ comment.content }}</p>
                    <p>
                      <a href="#" class="reply" data-toggle="collapse" data-target="#replyAccordion{{ comment.id }}">Reply</a>
                    </p>
                    <!-- Reply Accordion -->
                    <div id="replyAccordion{{ comment.id }}" class="collapse">
                      <div class="card card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-group">
                            <input type="hidden" name="parent" value="{{ comment.id }}" />
                            <label for="reply-content">Message</label>
                            <textarea name="content" id="reply-content" cols="30" rows="5" class="form-control"></textarea>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="Post Reply" class="btn py-3 px-4 btn-primary" />
                          </div>
                        </form>
                      </div>
                    </div>
                    {% if comment.replies.all %}
                      <ul class="children">
                        {% for reply in comment.replies.all %}
                          <li class="comment">
                            <div class="vcard bio">
                              <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" />
                            </div>
                            <div class="comment-body">
                              <h3>{{ reply.author }}</h3>
                              <div class="meta">{{ reply.created_at }}</div>
                              <p>{{ reply.content }}</p>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>

            <!-- END comment-list -->

            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5" style="font-size: 20px; font-weight: bold;">Leave a comment</h3>
              <form action="#" class="p-5 bg-light" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary" />
                </div>
              </form>
            </div>
          </div>
        </div> <!-- .col-md-8 -->
        <div class="col-lg-4 sidebar ftco-animate pl-md-4 py-md-5">
          <div class="sidebar-box mt-md-5 bg-light">
            <form action="#" class="search-form">
              <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Search..." />
              </div>
            </form>
          </div>
          <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3>Categories</h3>
              {% for category in categories %}
                <li>
                  <a href="#">{{ category.name }} <span>({{ category.post_set.count }})</span></a>
                </li>
              {% endfor %}
            </div>
          </div>

          <div class="sidebar-box ftco-animate">
            <h3>Recent Blog</h3>
            {% for recent_post in recent_posts %}
              <div class="block-21 mb-4 d-flex">
                {% if recent_post.cover_image %}
                  <a class="blog-img mr-4" style="background-image: url({{ recent_post.cover_image.url }});"></a>
                {% else %}
                  <a class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});"></a>
                {% endif %}

                <div class="text">
                  <h3 class="heading"><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title|slice:':20' }}...</a></h3>
                  <div class="meta">
                    <div>
                      <a href="#"><span class="fa fa-calendar"></span> {{ recent_post.created_at|date }}</a>
                    </div>
                    <div>
                      <a href="#"><span class="fa fa-user"></span> {{ recent_post.author }}</a>
                    </div>
                    <div>
                      <a href="#"><span class="fa fa-comment"></span> {{ recent_post.comments.count }}</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section> <!-- .section -->
{% endblock %}
