{% extends "base.html" %}
{% load static %}
{% block content %}

  <main class="main">

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Posts Section -->
          <section id="blog-posts" class="blog-posts section">

            <div class="container">
              <div class="row gy-4">
                {% for p in posts %}
                <div class="col-lg-6">
                  <article class="position-relative h-100">

                    <div class="post-img position-relative overflow-hidden">
                      <img src=" {% static "assets/img/blog/blog-1.jpg" %} " class="img-fluid" alt="">
                      <span class="post-date">{{p.created_at | date}}</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                      <h3 class="post-title">{{p.title}}</h3>

                      <div class="meta d-flex align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="bi bi-person"></i> <span class="ps-2">{{p.author}}</span>
                        </div>
                        <span class="px-3 text-black-50">/</span>
                        <div class="d-flex align-items-center">
                          <i class="bi bi-folder2"></i> <span class="ps-2">{{p.category}}</span>
                        </div>
                      </div>

                      <p>
                        {{p.content | truncatechars:40 }}
                      </p>

                      <hr>

                      <a href="{% url "post_detail" p.slug %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

                    </div>

                  </article>
                </div><!-- End post list item -->
                {% endfor %}
              </div>
            </div>

          </section><!-- /Blog Posts Section -->

          <!-- Blog Pagination Section -->
          <section id="blog-pagination" class="blog-pagination section">

            <div class="container">
              <div class="d-flex justify-content-center">
                <ul>
                  <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#" class="active">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li>...</li>
                  <li><a href="#">10</a></li>
                  <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>

          </section><!-- /Blog Pagination Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Featured Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Featured</h3>
              {% for f in featured_posts %}
              <div class="post-item">
                <img src=" {% static "assets/img/blog/blog-recent-1.jpg" %} " alt="" class="flex-shrink-0">
                <div>
                  <h4><a href="{% url "post_detail" f.slug %}">{{f.title | truncatechars:20}}</a></h4>
                  <time datetime="2020-01-01">{{f.created_at | date}}</time>
                </div>
              </div><!-- End recent post item-->
              {% endfor %}
            </div><!--/Featured Posts Widget -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              {% for tag in tags %}
              <ul>
                <li><a href="#">{{tag.name}}</a></li>
              </ul>
              {% endfor %}
            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

{% endblock %}