{% extends "base.html" %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Single Post</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Single Post</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                </div>

                <h2 class="title">{{post.title}}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{post.author}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">{{post.created_at | date}}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">{{comment_count}} Comment{{comment_count | pluralize}}</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{post.content}}
                  </p>

                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{post.category}}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    {% if post.tags.all %}
                    {% for tag in  post.tags.all %}
                    <li><a href="#">{{tag.name}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="#">No tags</a></li>
                    {% endif %}
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{comment_count}} Comment{{comment_count | pluralize}}</h4>
              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="assets/img/blog/comments-2.jpg" alt=""></div>
                  <div>
                    <h5><a href="">{{comment.author}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">{{comment.created_at | date}}</time>
                    <p>
                      {{comment.content}}
                    </p>
                  </div>
                </div>
                {% for c in comment.replies.all %}
                <div id="comment-reply-1" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="assets/img/blog/comments-3.jpg" alt=""></div>
                    <div>
                      <h5><a href="">{{c.author}}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">{{c.created_at | date}}</time>
                      <p>
                        {{c.content}}
                      </p>
                    </div>
                  </div>

                </div><!-- End comment reply #1-->
                {% endfor %}
              </div><!-- End comment #2-->
              {% endfor %}
            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">

              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <h4>Post Comment</h4>
                <p>fill the comment </p>
                <div class="row">
                  <input type="hidden" name="post_id" value="{{post.id}}">
                  <div class="col form-group">
                    <textarea name="content" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>

              </form>

            </div>
          </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Blog Author Widget -->
            <div class="blog-author-widget widget-item">

              <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center w-100">
                  <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                  <div>
                    <h4>{{post.author}}</h4>
                    <div class="social-links">
                      <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>

                <p>
                  {{post.author.userprofile.bio}}
                </p>

              </div>

            </div><!--/Blog Author Widget -->

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form action="">
                <input type="text">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>

            </div><!--/Search Widget -->

            <!-- Recent Posts Widget -->
            <div class="recent-posts-widget widget-item">

              <h3 class="widget-title">Recent Posts</h3>
              {% for recent in recent_posts %}
              <div class="post-item">
                <img src=" {% static "assets/img/blog/blog-recent-1.jpg" %} " alt="" class="flex-shrink-0">
                <div>
                  <h4><a href=" {% url "post_detail" recent.slug %} ">{{recent.title | truncatechars:20}}</a></h4>
                  <time datetime="2020-01-01">{{recent.created_at | date}}</time>
                </div>
              </div><!-- End recent post item-->
              {% endfor %}
            </div><!--/Recent Posts Widget -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                {% for tag in post.tags.all %}
                <li><a href="#">{{tag.name}}</a></li>
                {% endfor %}
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>
{% endblock content %}